aiodns==3.1.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
altgraph==0.17.4
asgiref==3.8.1
async-timeout==4.0.3
attrs==25.1.0
Babel==2.10.3
bcc==0.29.1
bcrypt==3.2.2
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.7.0
bokeh==3.6.3
Brlapi==0.8.5
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.6
cloud-init==24.4.1
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
contourpy==1.3.1
cryptography==44.0.1
cssselect==1.2.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.3.2
defer==1.0.6
distro==1.9.0
distro-info==1.7+build1
Django==5.1.6
django-filter==25.1
djangorestframework==3.15.2
duplicity==2.1.4
et-xmlfile==1.0.1
fasteners==0.18
fonttools==4.56.0
frozenlist==1.5.0
gpg==1.18.0
html5lib==1.1
httplib2==0.20.4
idna==3.10
importlib-metadata==4.12.0
jaraco.classes==3.2.1
jeepney==0.8.0
Jinja2==3.1.5
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
keyring==24.3.1
kiwisolver==1.4.8
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
linkify-it-py==2.0.3
llamaapi==0.1.36
louis==3.29.0
lxml==5.2.1
Mako==1.3.2.dev0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
monotonic==1.6
more-itertools==10.2.0
multidict==6.1.0
narwhals==1.34.1
nest-asyncio==1.6.0
netaddr==0.8.0
numpy==2.2.3
oauthlib==3.2.2
olefile==0.46
openpyxl==3.1.2
packaging==24.2
pandas==2.2.3
panel==1.6.1
param==2.2.0
paramiko==2.12.0
pdfminer.six==20231228
pdfplumber==0.11.5
pexpect==4.9.0
pillow==11.1.0
plotly==6.0.1
powerline-status==2.8.3
propcache==0.3.0
proton-core==0.4.0
proton-keyring-linux==0.2.0
proton-vpn-api-core==0.42.4
proton-vpn-gtk-app==4.9.6
proton-vpn-network-manager==0.12.13
psutil==5.9.8
ptyprocess==0.7.0
pycairo==1.25.1
pycares==4.4.0
pycparser==2.22
pycups==2.0.1
Pygments==2.17.2
PyGObject==3.48.2
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyJWT==2.7.0
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.2.1
pypdfium2==4.30.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyrsistent==0.20.0
pyserial==3.5
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-apt==2.7.7+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.49+ubuntu2
python-gnupg==0.5.2
pytz==2025.1
pyviz_comms==3.0.4
pyxdg==0.28
PyYAML==6.0.2
REACHER==1.0.1
requests==2.32.3
rich==13.7.1
scipy==1.15.2
screen-resolution-extra==0.0.0
SecretStorage==3.3.3
sentry-sdk==1.39.2
setuptools==68.1.2
shiboken6==6.9.0
six==1.17.0
soupsieve==2.5
sqlparse==0.5.3
stdeb==0.10.0
systemd-python==235
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.3.0
urwid==2.6.10
usb-creator==0.3.16
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.42.0
xdg==5
xkit==0.0.0
xyzservices==2025.1.0
yarl==1.18.3
zipp==1.0.0
